.list-container {
    direction: rtl;
    border: 1px solid #dddddd;
    border-radius: 4px 0 4px 0;
    color: #3b3c3e;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 0px 0px;
    height: 80vh;
    overflow-y: scroll;

    li {
        cursor: pointer;
        &:hover {
            background-color: #dadce0;
        }
    }

    .list-group {
        padding-right: 0px;
    }

    .delete-icon {
        display: inline;
        right: 10px;
        position: absolute;
        padding: 12px;
        bottom: 0px;
        right: 0px;
        &:hover {
            background-color: #dfa36c;
        }
    }
}
